@charset "UTF-8";
.header, .aside, .item, .extra-info, .reviews {
  padding-left: 25px;
  padding-right: 25px; }

/* Цвет */
/* Размер шрифта */
@font-face {
  font-family: HelveticaNeueCyr-Roman;
  src: url("../fonts/HelveticaNeueCyr-Roman.otf") format("opentype"); }

@font-face {
  font-family: HelveticaNeueCyr-Light;
  src: url("../fonts/HelveticaNeueCyr-Light.otf") format("opentype"); }

@font-face {
  font-family: HelveticaNeueCyr-Medium;
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype"); }

@font-face {
  font-family: HelveticaNeueCyr-Bold;
  src: url("../fonts/HelveticaNeueCyr-Bold.otf") format("opentype"); }

* {
  box-sizing: border-box; }

html {
  font-family: HelveticaNeueCyr-Roman, sans-serif;
  font-size: 14px;
  color: #484848;
  line-height: 1.2; }

body {
  background-color: #e1f0f8; }

.wrapper {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal; }

a {
  color: #484848; }

.phone {
  font-size: 2.214rem;
  text-decoration: none; }

.phone__color_darker {
  font-size: 1.714rem;
  color: #000; }

.button {
  display: block;
  margin-bottom: 10px;
  padding: 11px 39px;
  font-size: 1.286rem;
  color: #fff;
  background-color: #eb5825;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  .button:hover {
    background-color: #c53e11; }
  .button:focus {
    outline: none; }

.button_text_small {
  margin: 0;
  padding: 11px 25px;
  font-size: 1.143rem; }

.header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  background-color: #fff; }

.header__top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-top: 15px; }

.header__top-logo {
  flex-grow: 2;
  max-width: 232px;
  margin-right: 26.64%; }

.header__top-link,
.contacts {
  flex-grow: 1;
  padding-bottom: 13px; }

.header__top-link {
  font-size: 1.643rem;
  color: #eb5825; }
  .header__top-link:hover {
    color: #c53e11; }

.contacts {
  display: flex;
  flex-direction: column;
  color: #484848;
  text-align: right;
  opacity: .9; }

.contacts__schedule {
  font-size: 1.143rem; }

.nav {
  display: flex; }

.nav__item {
  flex-grow: 1;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.714rem;
  color: #484848;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #484848;
  opacity: .8; }
  .nav__item:first-child {
    margin-left: -25px; }
  .nav__item:last-child {
    margin-right: -25px;
    border: none; }
  .nav__item:hover {
    color: #fff;
    background-color: #7bc3d5; }

.about {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #4b4b4b; }

.about__header {
  font-size: 4.571rem; }

.about__description {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 1.857rem; }

.aside {
  float: left;
  max-width: 240px;
  margin-right: 28px;
  padding-top: 22px;
  padding-bottom: 39px;
  background-color: #fff; }

.aside__header {
  margin-bottom: 23px;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 1.429rem; }

.aside__nav {
  font-size: 1.143rem;
  list-style-type: none; }

.aside__nav-item {
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: underline;
  cursor: pointer; }
  .aside__nav-item:hover {
    color: #eb5825; }

.main::after {
  content: "";
  display: table;
  clear: both; }

.main__content {
  position: relative;
  float: left;
  max-width: 877px;
  background: none; }

.item {
  margin-bottom: 25px;
  padding-top: 25px;
  background-color: #fff; }
  .item::after {
    content: "";
    display: table;
    clear: both; }

.item__header {
  padding-bottom: 33px;
  font-size: 1.857rem; }

.item__photo-container {
  float: left;
  width: 198px; }

.item__photo {
  margin-bottom: 32px; }

.item__photo-description {
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 1.286rem;
  color: #484848;
  text-align: center;
  opacity: .5; }

.item__description {
  float: right; }

.item__features {
  margin-bottom: 35px;
  padding-left: 20px; }

.item__features-list {
  margin-bottom: 10px;
  font-size: 1.429rem;
  color: #eb5825; }

.item__features span {
  font-size: 1rem;
  color: #484848; }

.item__color {
  margin-bottom: 35px; }

.item__color-header {
  margin-bottom: 20px;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 1.429rem; }

.item__color-list {
  margin-bottom: 25px; }

.item__color-type {
  content: "";
  display: inline-block;
  background-image: url(img/window-colors-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer; }

.item__color-type_color1 {
  width: 60px;
  height: 59px;
  background-position: -5px -5px; }

.item__color-type_color2 {
  width: 60px;
  height: 59px;
  background-position: -75px -5px; }

.item__color-type_color3 {
  width: 61px;
  height: 59px;
  background-position: -145px -5px; }

.item__color-type_color4 {
  width: 59px;
  height: 59px;
  background-position: -216px -5px; }

.item__color-type_color5 {
  width: 59px;
  height: 59px;
  background-position: -285px -5px; }

.item__color-type_color6 {
  width: 60px;
  height: 59px;
  background-position: -354px -5px; }

.item__color-type_color7 {
  width: 59px;
  height: 59px;
  background-position: -424px -5px; }

.item__color-checkbox {
  display: none; }

.item__color-checkbox:checked + .item__color-type {
  position: relative;
  z-index: 0; }
  .item__color-checkbox:checked + .item__color-type::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 13px;
    z-index: 2;
    width: 36px;
    height: 27px;
    background-image: url(img/check-mark.png);
    background-repeat: no-repeat; }

.item__color-type:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7); }

.item__color-note {
  max-width: 350px;
  margin-bottom: 25px; }

.price {
  display: flex;
  margin-bottom: 22px; }

.price__cost,
.price__discount,
.price__period {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 13px;
  padding-right: 13px;
  border-right: 1px solid #dcdcdc; }

.price__cost {
  padding-left: 0;
  padding-right: 25px;
  font-size: 1.286rem; }

.price__period {
  border: none; }

.price__discount,
.price__period {
  text-align: right; }

.price__discount-header,
.price__period-header {
  color: #484848;
  opacity: .6; }

.price__cost-figure,
.price__discount-size,
.price__period-days {
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  color: #eb5825; }

.price__cost-figure {
  border-bottom: 1px dashed #eb5825;
  cursor: pointer; }
  .price__cost-figure:hover {
    color: #c53e11; }

.price__discount-size {
  font-size: 1.286rem; }

.request {
  margin-bottom: 70px;
  color: #484848;
  text-decoration: underline;
  opacity: .6;
  cursor: pointer; }
  .request:hover {
    opacity: .8; }

.calculation__popup-background {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .4; }

.calculation__popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-top: -150px;
  margin-left: -200px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px; }

.calculation__popup-close {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: red;
  cursor: pointer; }
  .calculation__popup-close:hover {
    color: #a71414; }

.calculation__popup-header {
  font-family: HelveticaNeueCyr-Bold, sans-serif;
  font-size: 1.857rem;
  color: #eb5825; }

.extra-info {
  margin-bottom: 80px;
  padding-top: 30px;
  background-color: #fff; }

.extra-info__lamination {
  margin-bottom: 13px; }

.extra-info__lamination-header {
  margin-bottom: 15px;
  font-size: 1.857rem; }

.extra-info__lamination-description {
  position: relative;
  margin-bottom: 22px;
  padding-left: 90px; }
  .extra-info__lamination-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/lamination-sprite.png);
    background-repeat: no-repeat; }
  .extra-info__lamination-description:nth-child(2)::before {
    width: 55px;
    height: 53px;
    background-position: -5px -5px; }
  .extra-info__lamination-description:last-child::before {
    width: 49px;
    height: 59px;
    background-position: -70px -5px; }

.extra-info__know-how {
  padding-bottom: 33px; }

.extra-info__know-how-header {
  margin-bottom: 15px;
  font-size: 1.857rem; }

.extra-info__know-how-description {
  position: relative;
  margin-bottom: 15px;
  padding-left: 50px; }
  .extra-info__know-how-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 10px;
    font-family: HelveticaNeueCyr-Medium, sans-serif;
    font-size: 1.429rem;
    border: 2px solid #484848;
    border-radius: 50%; }
  .extra-info__know-how-description:nth-child(2)::before {
    content: "1"; }
  .extra-info__know-how-description:nth-child(3)::before {
    content: "2"; }
  .extra-info__know-how-description:last-child::before {
    content: "3"; }

.reviews {
  position: relative;
  margin-bottom: 118px;
  padding-top: 35px;
  background-color: #fff; }

.reviews__top {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.reviews__header {
  font-size: 1.857rem; }

.reviews__show-all {
  font-size: 1.143rem;
  color: #eb5825;
  border-bottom: 1px solid #eb5825;
  cursor: pointer; }
  .reviews__show-all:hover {
    color: #c53e11;
    border-bottom: 1px solid #c53e11; }

.reviews__information-author {
  font-size: 1.143rem; }

.reviews__information-contract,
.reviews__information-date {
  opacity: .8; }

.reviews__information-date::after {
  content: "";
  display: block;
  width: 76px;
  height: 13px;
  margin-top: 9px;
  margin-bottom: 14px;
  background-image: url(img/review-stars.png); }

.reviews__text {
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.reviews__text-full {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 35px;
  font-size: 1.143rem;
  color: #eb5825;
  border-bottom: 1px dashed #eb5825;
  cursor: pointer; }
  .reviews__text-full:hover {
    color: #c53e11;
    border-bottom: 1px dashed #c53e11; }
  .reviews__text-full::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    width: 13px;
    height: 13px;
    background-image: url(img/arrow.png); }

.reviews__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 295px;
  padding-bottom: 37px; }

.reviews__like {
  position: relative;
  z-index: 0;
  height: 18px;
  padding-left: 10px;
  padding-right: 30px;
  font-family: HelveticaNeueCyr-Light, sans-serif;
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 18px;
  color: #fff;
  background-color: #5f83aa;
  border-radius: 2px;
  cursor: pointer; }
  .reviews__like::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 6px;
    width: 11px;
    height: 10px;
    padding-left: 6px;
    background-image: url(img/like.png);
    background-repeat: no-repeat;
    background-position: right;
    border-left: 1px solid rgba(255, 255, 255, 0.4); }

.reviews__like-label {
  position: relative; }

.reviews__checkbox {
  display: none; }

.reviews__like-sum {
  display: none; }

.reviews__checkbox:checked + .reviews__like-label::after {
  content: "19";
  position: absolute;
  z-index: 2;
  top: 0;
  right: -35px;
  width: 24px;
  height: 16px;
  font-size: 7px;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

.reviews__checkbox:checked + .reviews__like-label > .reviews__like-sum {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  right: -12px;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  transform: rotate(45deg);
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.footer {
  padding-top: 45px;
  padding-bottom: 40px;
  background-color: #a5b7c1;
  box-shadow: inset 0 10px 25px -10px rgba(0, 0, 0, 0.4); }

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  font-size: 1.714rem;
  color: rgba(0, 0, 0, 0.4); }

.footer__nav-item {
  flex-grow: 1;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer; }
  .footer__nav-item:last-child {
    border: none; }

.footer__contacts {
  padding-left: 55px;
  color: #000; }

.footer__contacts-mail-link {
  color: #eb5825; }
  .footer__contacts-mail-link:hover {
    color: #c53e11; }
